.main-container {
	max-width: 1127px;
	margin: 0 auto 60px;
	padding: 100px 20px;
	background: #fff;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
	border-radius: 0.28571429rem;

	article {
		float: left;
		width: calc(100% - 320px);
		border-right: 1px solid #ddd;

		@include media($tablet) {
			width: 100%;
			padding: 2em 1em;
		}
	}

	aside {
		float: right;
		width: 300px;

		@include media($tablet) {
			width: 100%;
		}

		.author {
			margin-top: 10px;
		}
	}
}