$mobile-term: new-breakpoint(max-width 500px 4);

.type-term {
	.term-list {
		display: flex;
		flex-wrap: wrap;



		.item {
			order: 2;
			flex: 1 1 50%;
			margin-top: 1em !important;
			padding-right: 25px;

			a.header {
			    color: #7e2553 !important;
			}

			@include media($mobile-term) {
				flex: 1 1 100%;

				.image {
					width: 100% !important;
					max-height: 100% !important;

					img {
						width: 100% !important;
						max-height: 100% !important;
						height: 100% !important;

					}
				}

				
			}
		}

		.sticky {
			order: 1 !important;
		}
	}
}