{{#if model}}
	{{#if isHome}}
		<div class="main-nav -home">
		{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}

		</div>
	{{else}}
		<div class="main-nav">
		{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}
		</div>
	{{/if}}
{{/if}}

{{liquid-outlet class="main-container"}}

<footer class="footer" role="contentinfo">
 
  
  <div class="footer-content">
    <div class="footer-links">
		<ul>
			<li><h3>Content</h3></li>
			<li><a href="#/page/installation">Installation</a></li>
			<li><a href="#/term/versions">Versions</a></li>
			<li><a href="https://github.com/kush-team/ember-cli-to-wp-theme">Source Code</a></li>
		</ul>
		<ul>
			<li><h3>Addon</h3></li>
			<li><a target="_blank" href="https://github.com/kush-team/ember-cli-to-wp-theme/issues" >Submit an Issue</a></li>
			<li><a target="_blank" href="https://github.com/kush-team/ember-kt-wp-theme">Perhaps a star</a></li>
			<li><a target="_blank" href="https://github.com/kush-team/ember-kt-wp-theme">Contribute to theme</a></li>
		</ul>
    </div>
    <div class="footer-support">
      <h3 class="header ui inverted">Support these project</h3>
      <p>If this addon help you in anyway and want to contribute to maintain its support and development help us </p>
      <a href=""class="ui button small violet">Donate</a>
    </div>
     
  </div>
   <div class="footer-logo">
    <img src="http://kush-team.com.ar/wp-content/uploads/2016/06/isologo-kush-team.png" alt="Logo image">
  </div>
  
</footer>
