{{#if isHome}}
	<div class="main-nav -home">
	{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}

	</div>
{{else}}
	<div class="main-nav">
	{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}
	</div>
{{/if}}

{{liquid-outlet class="main-container"}}

