{{#if model}}
	{{#if isHome}}
		<div class="main-nav -home">
		{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}

		</div>
	{{else}}
		<div class="main-nav">
		{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}
		</div>
	{{/if}}
{{/if}}

{{liquid-outlet class="main-container"}}

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="http://kush-team.com.ar/wp-content/uploads/2016/06/isologo-kush-team.png" alt="Logo image">
  </div>
  <hr>
  <p class="copyright">© Copyright 2016 · Designed by <a href="http://www.kush-team.com.ar/">Kush Team</a></p>
</footer>
