

{{wp-menu isHome=isHome items=model.items show=isShowMenu iShowMenu=isShowMenu}}



<div class="ui vertical stripe segment" style="margin-top: 59px;">



	<div class="ui middle aligned stackable grid container">
		
		{{liquid-outlet class="row"}}

	</div>
</div>





