<div class="ui main text container" style="text-align: center;">
  <h1 class="ui  header">
     ember-cli-to-wp-theme
  </h1>
  <h2>A WORDPRESS BACKEND FOR EMBER.JS APPS.</h2>
  <p class="description">This project is intended as a basis for combining Ember as a frontend for a WordPress backend. You can use it as the starting point for a WordPress theme, or a completely standalone app that just retrieves data from WordPress.</p>
  <a href="#/page/installation" class="ui huge violet button">
  	Installation guide <i class="right arrow icon"></i>
  </a>
</div>








